# Ignore arquivos de build
/target/
!**/src/main/**/target/
!**/src/test/**/target/

# Ignore arquivos compilados
*.class

# Ignore arquivos temporários da IDE
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Outros arquivos a ignorar
HELP.md
